<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link rel="stylesheet" href="/static/style.css">
</head>

<body >
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">📗</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/recommend">Recommend</a>
            </li>
        </ul>
   
        </div>
        </div>
    </nav>

    <div class="container ">
        <div class="row ">
            <div class="col-md-12">
                <h1 class="text-success m-2" style="font-size:35px">Recommend Books</h1>
                <form action="/recommend_books" method="post">
                    <div class="mb-3 d-flex " style="gap:5px">
                        <!-- <label for="exampleInputEmail1" class="form-label">Enter Book Name</label> -->
                        <input name="user_input" list="movies"  type="text" id="myinput" class="form-control" >
                        <datalist id="movies">
                            {% for i in range(book|length) %}
                            <option value="{{ book[i] }}">{{ book[i] }}</option>
                            <p class="text-white">{{ book[i] }}</p>
                            {% endfor %}
                        </datalist>
                        <button class="btn  btn-outline-success " type="submit">Search</button>
                    </div>
                    <!-- <button type="submit" class="btn btn-lg btn-warning ">Submit</button> -->
                </form>
            </div>
            
            {% if mydata %}
            
            {% for i in mydata %}
            <div class="col-md-3 mt-2" >
                <div class="card">
                    <!-- <img class="card-img-top" src="{{i[2]}}"> -->
                    <div class="card-body text-center" >
                        <img class="img-thumbnail" src="{{i[2]}}" width="100%">
                        <p class="text-primary">{{i[0]}}</p>
                        <h5 class="text-success">{{i[1]}}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            {% endif %}
            
        </div>
     
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/dist/boxicons.js" integrity="sha512-Dm5UxqUSgNd93XG7eseoOrScyM1BVs65GrwmavP0D0DujOA8mjiBfyj71wmI2VQZKnnZQsSWWsxDKNiQIqk8sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>